doctype html
html
	head
		title #{title}
		include inc/head.jade
		link(href="/custom/css/edit-wiki.css", rel="stylesheet")
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css", rel="stylesheet")
		link(href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css", rel="stylesheet")
		script(src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
	body
		div.container
			div.row
				div.col-md-8.contents
					h1 #{title}
					hr
					div
						textarea.form-control(rows="20") #{contents}
					hr
					div#div-oper &nbsp;
						button.btn.btn-primary.pull-right(type="button", onclick="controller.post();") ok
						button.btn.btn-primary.pull-right(type="button", onclick="controller.preview();") preview
					
					div#div-preview-contents
					
				div.col-md-4
					div.well
						include inc/nav.jade
						
		script(src="/custom/js/edit-wiki.js")