doctype html
html
	head
		title #{title}
		include inc/head.jade
		link(href="/custom/css/recent-edited.css", rel="stylesheet")
	body
		div.container
			div.row
				div.col-md-8
					ul
						each post in posts
							li.post
								a(href="/wiki/#{post.title}/") post.title
								span [#{post.regdate]
				div.col-md-4
					div.well
						include inc/nav.jade