doctype html

meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

//jquery
script(src="/jquery/dist/jquery.min.js")

//bootstrap
link(href="/custom/css/bootstrap-sandstone/bootstrap.min.css", rel="stylesheet")
script(src="/bootstrap/dist/js/bootstrap.min.js")

//bootbox
script(src="/bootbox/bootbox.js")

//js_cols
script(src="/js_cols/dist/js_cols.min.js")

//string format
script(src="/custom/js/string-format.js")

//common
link(href="/custom/css/common.css", rel="stylesheet")
script(src="/custom/js/common.js")

//jstree
link(href="/jstree-bootstrap-theme/dist/themes/proton/style.min.css", rel="stylesheet")
script(src="/jstree/dist/jstree.min.js")

//highlight
link(href="/highlight/styles/github.css", rel="stylesheet")
script(src="/highlight/highlight.pack.js")

//marked
script(src="/marked/marked.min.js")