<!DOCTYPE Html>
<div class='nav'>
	<div id="div-search" class="input-group">
		<input type="text" class="input-sm form-control">
		<div class="input-group-btn">
			<button type="button" class="btn btn-primary btn-sm" onclick="search()">search</button>
		</div>
	</div>
	<hr />

	<h5>documents</h5>
	<div id='div-post-title-tree'></div>
	<hr />

	<div>
		<button type="button" class="btn btn-sm btn-default" onclick="newWiki();">new document</button>
	</div>
</div>

<script type="text/javascript">
function newWiki(){
	bootbox.prompt('new wiki title', function(title){
		if(title === null)
			return;

		if(title.indexOf('/') === 0){
			bootbox.alert('slash(/) cannot be in first', newWiki);
			return;
		} //if

		if(title.lastIndexOf('/')+1 === title.length){
			bootbox.alert('slash(/) cannot be in last', newWiki);
			return;
		} //if
		window.location.href = '/EditWiki/{}/'.format(title);
	});
}; //newWiki

function search(){
	var keyword = encodeURI($('.nav #div-search input[type="text"]').val());
	window.location.href = '/Search/{}/'.format(keyword);
} //search

$(function(){
	$('.nav #div-search input[type="text"]').keyup(function(e){
		if(e.keyCode === 13){
			search();		
		} //if
	});

	//init post title tree
	var titleTreeData = <%- postTitleTreeData %>;
	$('#div-post-title-tree').on('changed.jstree', function(e, data){
		var link = data.instance.get_node(data.selected[0]).data;
		if(link !== null)
			window.location.href = link;
	}).jstree({
		'core': {
			'multiple': false,
			'animation': 1,
			'themes': {
				'name': 'proton',
				'responsive': true
			},
			'data': titleTreeData
		}
	});
});
</script>
