<!DOCTYPE Html>
<html>
<head>
	<title><%= title %></title>
	<% include inc/head.ejs %>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1><%= title %></h1>
				<hr />
				<pre><%- raw %></pre>
			</div>
			<div class="col-md-4">
				<div class="well">
					<% include inc/nav.ejs %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
